*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color: #424342;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    background-color: #256D1B;
    width: 384px;
    padding: 40px;
    text-align: center;
    border-radius: 12px;
}
